*/.vs
*.opendb
*.pdb
*.obj
*.tlog
*.idb
*.recipe
kinematics-fixed/kinematics-fixed/Debug/
***.ilk
kinematics-fixed/kinematics-fixed/x64/Debug/kinematics-fixed.log
***.vcxproj
***.vcxproj.filters
***.vcxproj.user
